{% extends "blog/base.html" %}
{% block content %}

	<h1>About Me</h1>

	
	    <p>Hello, Everyone</p>

		<p>My name is 	<a href="" target="_blank">Mortuza</a>. I am Passionate about Computer programming.</p>

		
		<p><strong>I am Expert on</strong><br> 
		<em>- Full Stack Web Developer with Python | Django, React | NodeJS, VUEjs</em> <br> 
		<em>- Complete HTML5, CSS3 | Bootsrap4 | Javascript | React.js | Node.js | Express | MongoDB | SQL | MySQL | PostgreSQL</em> <br>
		</p>

		<p><strong>***</strong>Happy Programming and Wish you all the best<strong>***</strong></p>


		<strong>Other Working Activites</strong>


	

{% endblock %}